
###> idea ###
.idea
###< idea ###

###> docker/env ###
.env
###< docker/env ###

###> symfony/framework-bundle ###
backend/.env
backend/public/bundles/
backend/var/
backend/vendor/
###< symfony/framework-bundle ###

###> symfony/upload ###
backend/public/upload
###< symfony/upload ###

###> npm ###
frontend/node_modules
###< npm ###

###> webpack ###
frontend/public
###< webpack ###
